.advantageItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}

.advantageItem__header {
  font-weight: bold;
  text-align: center;
}

.advantageItem__text {
  text-align: center;
}

.advantageItem__image {
  margin-block-end: 1em;
}

@media screen and (max-width: 800px) {
  .advantageItem {
    width: 50%;
    margin-bottom: 5vh;
  }
  .advantageItem__image {
    margin-block-end: 0;
  }
  .advantageItem__header {
    margin-block-end: 0;
  }
  .advantageItem__text {
    margin-block-start: 0.5vh;
  }
}