.advantageScreen {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  flex-wrap: wrap;
  padding-block-start: 12vh;
  padding-block-end: 8vh;
}

@media screen and (max-width: 800px) {
  .advantageScreen {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}