.contactScreen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.contactScreen__header {
  margin-bottom: 10%;
}

.contactScreen__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contactScreen__image {
  width: 35%;
  height: auto;
}

@media screen and (max-width: 800px) {
  .contactScreen {
    justify-content: center;
  }
  .contactScreen__image {
    display: none;
  }
}