.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: calc(100vw - (100vw - 100%));
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  background-color: #6C6C6C;
  box-sizing: border-box;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  width: 50vw;
}

.footer__navtext {
  font-family: "Open Sans";
  font-weight: normal;
  font-size: 100%;
  color: #EDEDED;
}

.footer__contact {
  font-family: "Open Sans";
  font-weight: normal;
  font-size: 100%;
  color: #EDEDED;
}