.mainScreen {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.mainScreen__buttons {
  display: flex;
  justify-content: flex-start;
}

.mainScreen__text {
  width: 45%;
}

.mainScreen__image {
  width: 45%;
  height: auto;
}

@media screen and (min-width: 1300px) {
  .mainScreen__header {
    font-size: 72px;
  }
  .mainScreen__description {
    font-size: 28px;
  }
  .mainScreen__text {
    max-width: 608px;
  }
}

@media screen and (max-width: 800px) {
  .mainScreen {
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  .mainScreen__text {
    width: 70%;
    margin-top: 0;
    margin-bottom: auto;
    align-items: center;
  }
  .mainScreen__image {
    width: 70%;
    height: auto;
    margin-top: 20vh;
    margin-bottom: auto;
  }
  .mainScreen__header {
    font-size: 36px;
  }
  .mainScreen__description {
    font-size: 18px;
  }  
}