.mainScreen {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.mainScreen__buttons {
  display: flex;
  justify-content: flex-start;
}

.mainScreen__text {
  width: 40%;
}

.mainScreen__image {
  width: 55%;
  height: auto;
}

@media screen and (min-width: 1300px) {
  .mainScreen__header {
    font-size: 72px;
  }
  .mainScreen__description {
    font-size: 28px;
  }
  .mainScreen__text {
    max-width: 608px;
  }
}