.serviceScreen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block-start: 12vh;
  padding-block-end: 12vh;
}

.serviceScreen__image{
  width: 45%;
  height: auto;
}

.serviceScreen__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 45%;
}

@media screen and (max-width: 800px) {
  .serviceScreen {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .serviceScreen__content {
    width: 90%;
  }
  .serviceScreen__image {
    margin-bottom: 10vh
  }
}