.workStepScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block-start: 16vh;
  padding-block-end: 8vh;
}

.workStepScreen__items {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 3%;
}

@media screen and (max-width: 800px) {
  .workStepScreen__items {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}