.workStepItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  position:relative;
}

.workStepItem__text {
  text-align: center;
  margin-top: -2vh;
}

.workStepItem__image {
  z-index: -1;
}

@media screen and (max-width: 800px) {
  .workStepItem {
    width: 50%;
    margin-bottom: 2.5vh;
    margin-top: 2.5vh;
    width: 50%;
  }
  .workStepItem__image {
    margin-block-end: 0;
  }
  .workStepItem__text {
    margin-block-start: 0.5vh;
    margin-top: -3vh;
  }
}