@font-face {
  font-family: "Source Sans Pro";
  src: url("./Assets/Fonts/SourceSansPro-Black.ttf");
  font-style: normal;
  font-weight: bolder;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("./Assets/Fonts/SourceSansPro-Bold.ttf");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Open Sans";
  src: url("./Assets/Fonts/OpenSans-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("./Assets/Fonts/OpenSans-Bold.ttf");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Open Sans";
  src: url("./Assets/Fonts/OpenSans-Light.ttf");
  font-style: normal;
  font-weight: lighter;
}

body {
  margin: 0;
  background-color: #f3f3f3;
}

.content {
  padding-left: 10vw;
  padding-right: 10vw;
  flex-wrap: wrap;
  width: calc(80vw - (100vw - 100%));
  position: static;
}

h1 {
  color: #404040;
  font-family: "Source Sans Pro";
  font-weight: bolder;
  font-size: 200%;
  margin-block: 0;
  line-height: 100%;
}

h2 {
  color: #404040;
  font-family: "Source Sans Pro";
  font-weight: bold;
  font-size: 150%;
  margin-block: 0;
  line-height: 100%;
}

p, ul {
  color: #404040;
  font-family: "Open Sans";
  font-weight: normal;
  font-size: 110%;
}